@{
    ViewBag.Title = "Home Page";
}

<div class="mx-auto col-md-10">
    <div class="card">
        <div class="card-image">
            <a href="/Facturacion/Create">
                <h3>Facturar</h3>
                <img class="card-img-top img-fluid" src="https://www.unitedworx.com/media/content-images/470-lettings-cyprus-long-term-rentals-web-design_full.jpg" alt="Card image cap">
            </a>
        </div>
        <div class="card-body mx-auto bg-dark">
            <h5 class="card-title text-white">Listado de Entradas</h5>
            <p class="card-text text-white-50">Visualizar todas las entrdas de productos.</p>
            <a href="/Entrada/Index" class="btn btn-outline-light bottom">Entradas</a>
            <p class="card-text">
                <small class="text-muted">
                    Presiona entradas para ver mas
                </small>
            </p>
        </div>
    </div>
</div>